---
import Layout from '../layouts/Layout.astro';
import GithubPicture from '../components/githubPicture.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto p-5 max-w-[60ch]">
		<h1 class="text-5xl font-extrabold m-0 text-white">Welcome to <span class="text-gradient">OACS</span>io Page</h1>
		<ul role="list" class="grid	grid-cols-2 mt-6">

			<GithubPicture username="oacs" />
		</ul>
	</main>
</Layout>

<style>
.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	background-position: 0%;
}
</style>
